- provide(:title, @user.name)
.row
  %aside.col-md-4
    %section.user_info
      %h1
        = gravatar_for @user
        = @user.name
      %section.stats
        = render 'shared/stats'
      %br/
      %br/
      %br/
      %br/
      %div
        %p= @user.email
        %p
          Created At: #{@user.created_at}
        %p
          Updated At: #{@user.updated_at}
        %p
          Time Now: #{Time.now}
  .col-md-8
    = render 'follow_form' if logged_in?
    - if @user.microposts.any?
      %h3
        Microposts (#{@user.microposts.count})
      %ol.microposts
        = render @microposts
      = will_paginate @microposts